include login2
title Log In
form(action="/login", method="POST" class='login' )
    h1 Admin Login
    label 
    input(name="login", value="", id="login" class="text-field" placeholder="Username")
    label 
    input(type="password", name="password", value="", class="text-field" id="password" placeholder="Password")
    input(type="submit", value="login" class="button")




